stow
chkstow
Makefile
Makefile.in
config.log
config.status
configure
stamp-vti
stow.info
t/target/
version.texi
lib/Stow.pm
doc/stow.8
doc/stow.pdf
doc/manual.pdf
doc/manual.texi
doc/manual.html
doc/stow.html
.dirstamp
stamp-vti
MYMETA.json
MYMETA.yml
