.dirstamp
/Build
/ChangeLog
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.in
/bin/chkstow
/bin/stow
/cover_db
/doc/stow.info
/doc/version.texi
tmp-testing-trees/
_build/
autom4te.cache/
blib/
config.log
config.status
configure
/doc/ChangeLog.OLD
/doc/manual.pdf
/doc/manual-single.html
/doc/manual-split/
/doc/manual.texi
/doc/stow.pdf
/doc/stow.8
/lib/Stow.pm
/lib/Stow/Util.pm
stamp-vti
stow-[0-9].[0-9].[0-9].tar.*
stow-[0-9].[0-9].[0-9]/
Stow-v[0-9].[0-9].[0-9].tar.*
