#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/class/autotools.mk

build/stow::
	[ -d texi ] || ( mkdir texi ; cd texi \
	; ln -s ../stow.texi ../version.texi . \
	; texi2html -split_node -menu --subdir=html stow.texi )

install/stow::
	rm -f $(CURDIR)/debian/stow/usr/share/info/dir

clean::
	rm -Rf texi

# Add here any variable or target overrides you need.
